.wrapper {
  background-color: transparent;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  cursor: pointer;
}
.left {
  background-color: transparent;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}
