ul li {
  list-style-type: none;
  margin-bottom: 14px;
}

.wrapper {
  color: #fff;
  background-color: #000;
  padding: 40px 25px 0;

  .inner {
    max-width: 1040px;
    margin: auto;
  }
}

.game-store {
  padding-bottom: 4px;
  margin-bottom: 40px;
  h3 {
    font-size: 24px;
  }
}

.about-title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 75px;
  border-bottom: 1px solid #ccc;
}

.first-h3 a {
  font-size: 20px;
  font-weight: 1000;
  color: #fff;
}

.p-text a {
  font-size: 18px;
  color: #ccc;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s;
}

