.wrapper {
    background-color: #0f1011;
    color: #fff;
    padding: 26px 40px 0;
    width: 270px;
}


.inner {
    .icon {
        width: 39px;
        height: 43px;
        border: 1px transparent;
        border-radius: 8px;
        padding: 6px 5px 4px;
        cursor: pointer;
        transition: all .2s;
        background-color: rgb(45, 45, 45);
        .icon-hover {
            height: 100%;
            width: 100%;
        }
    }
    .sidebar-btn {
        cursor: pointer;
        margin-bottom: 10px;
        &:hover .icon {
            background-color: #fff;
            path{
                fill: #000;
            }
        }
    }
    .p-text {
        font-size: 20px;
        cursor: pointer;
    }
    .h3-text {
        color: #fff;
        font-size: 25px;
        letter-spacing: 1px;
        margin-bottom: 22px;
    }
}