.wrapper {
  width: 282px;
  height: 290px;
  background-color: #202020;
  border: 1px transparent;
  border-radius: 12px;
  grid-column: auto;
  transition: all 0.3s;
  .inner {
    margin: 15px;
  }
}

.image {
  height: 65%;
  width: 100%;
}

.add-money {
  display: flex;
  display: flex;
  justify-content: space-between;
  .add-to-cart {
    background: transparent;
    border: none;
    cursor: pointer;
    p {
      font-size: 16px;
    }
    img {
      height: 14px;
      width: 14px;
    }
  }
}
